.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .image {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .custom-button {
    width: 80%;
    position: absolute;
    top: 255px;
    display: none;
  }

  &:hover {
    .image {
      opacity: 0.8;
    }

    .custom-button {
      opacity: 0.85;
      display: block;
    }
  }

  .collection-footer {
    width: 100%;
    display: flex;
    font-size: 18px;

    .name {
      flex-grow: 1;
    }

    .price {
      padding-left: 10px;
    }
  }
}
